$message-text-left-padding: 0.5rem;

@media (min-width: 1200px) {
    $message-text-left-padding: 1rem;
}

.actions-list {
    margin-bottom: 10px;

    > div {
        display: inline-block;
        padding-left: 10px;

        &:first-of-type {
            padding-left: 0;
        }
    }

    > button {
        display: inline-block;
        padding-left: 10px;
    }
}

.messages {
    list-style: none;
    padding: 0 !important;
    border: 1px solid #d0d0d0;

    > li {
        background-color: #fcfcfc;
        border-bottom: 1px solid #d0d0d0;
        padding: 10px 10px;
        min-height: 86px;

        &:last-of-type {
            border-bottom: none;
        }

        &:hover {
            background-color: #f4f4f4;
        }

        > a {
            text-decoration: none;
            color: #181818;
        }
    }

    > .unread {
        font-weight: bold;
        background-color: #ffffff;
    }
}

.message-header {
    border-bottom: 1px solid #ececec;

    > .message-check {
        color: #e6e6e6;
    }

    > .message-time {
        display: inline-block;
    }
}

.message-preview {
    > .far {
        color: #e1e6ef;
    }

    > .message-preview-fav {
        color: #e6e6e6;
    }

    > .message-preview-title {
        padding-left: $message-text-left-padding;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > .message-preview-text {
        padding-left: $message-text-left-padding;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 0.2rem;
        height: 2rem;
        color: grey;
    }
}

.pm-container {
    max-height: 40rem;
    max-width: 62.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pm-message {
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    word-break: break-word;
}

.post-in-own-posts {

    .card-title{
        height: 2.5em;
        overflow: hidden;
    }
}
